<html>
<head>
    <title>Vue.js Testing class style bindings</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css"/>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

<section class="section">
    <div id="app">

        <!--<h1 v-if="ok">Yes</h1>-->
        <!--<h1 v-if="!ok">No</h1>-->

        <!--<h1 v-if="ok">Yes</h1>-->
        <!--<h1 v-else>No</h1>-->

        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
        <template v-else>
            <h1>Title 2</h1>
            <p>Paragraph 1</p>
        </template>

        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>

        <template v-if="loginType === 'username'">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Username</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" placeholder="Enter your username">
                        </p>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Email</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="email" placeholder="Enter your email">
                        </p>
                    </div>
                </div>
            </div>
        </template>

        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>

        <h1 v-show="ok">Hello!</h1>

        <h1 v-show="!ok">Not hello!</h1>
    </div>
</section>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            ok: true,
            type: 'B',
            loginType: 'username',
        },
    })
</script>

</body>

</html>